*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    color: rgb(247, 240, 240);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    transition: all 0.6s ease;
}

div {
    /* width: 280px;
    height: 300px; */
    width: 350px;
    height: 350px;
    padding: 6px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    line-height: 30px;
    letter-spacing: 0.02em;
}

span {
    margin-top: 30px;
    font-size: 21px;
}

.playlist_time {
    display: block;
    margin-top: 14px;
    margin-bottom: 30px;
    padding: 9px 30px;
    background-color: #EDEDED;
}

button {
    background-color: #FFDE40;
    border: none;
    font-size: 19px;  
    padding: 17px 49px;
    box-shadow: 0px 0px 8px #FFDE40;
    border-radius: 6px;
}