*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    color: rgb(247, 240, 240);
}

div {
    background-color: royalblue;
    width: 280px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

span {
    font-size: 22px;
}

#total_playlist_time {
    color: #000;
}

button {
    padding: 10px 15px;
    background-color: #000;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}